
/* 
    ======================================================================================================================================
    ======================================================================================================================================
    ======================================================================================================================================
*/



/*  Conditional css here ----> (Starts )  */
.conditional_main{
    height: 100vh;
    width: 100%;
    border: 1px solid;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: rgba(145, 212, 175, 0.896);

    background-image: url("https://www.transparenttextures.com/patterns/hoffman.png");
    

}




.conditional_main > div{

    padding: 10vh;
    border: 2px solid white;
    border-radius: 10%;

    background-color: rgba(125, 209, 163, 0.79);

    
}


#hidden_text{
    text-align: center;
    color: red;
    line-break: loose;
    visibility: hidden;
}




.conditional_main:hover #hidden_text{
    visibility: visible;
}



.conditional_main > div > h1{
    font-family: cursive;
    font-weight: bolder;
    margin-bottom: 5vh;
}




/*  Conditional css here ----> (Ends)  */












/* User regestration data css ----------------> */



.regester_div{
    border: 2px solid transparent;
}



/*  Image css code Here */

.regester_div img{
    height: 15vh;
    /* border: 2px solid black; */
    border-radius: 50%;
    padding: .2vh;
    outline: 2px solid black;
    transition: all 0.1s ease-in-out;
}


.regester_div img:hover{
    outline:3px solid black ;
    outline-offset: 3px;
    border: 0;
}





.regester_div input{
    display: block;
    padding: 0.5vh;
    
    background-color: rgb(221, 239, 229);

    border-radius: 1vh;
    border: 0px;

    opacity: 0.5;


}

.regester_div>form input:hover{
    opacity: 1; 
}

.regester_div>form input:focus{
    opacity: 1;
    
}

.regester_div>form>button{

    padding: 0.5vh 1vh;
    border-radius: 1vh;
    background-color: rgb(221, 239, 229);
    

}

.regester_div>form>button:active{
    background-color: rgb(125, 209, 163);

}







@media (max-width:1070px) {
    #hidden_text{
        left: 20%;
    }
}